.main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.pokemon-details-wrapper{
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-details-image{
    max-height: 250px;
    max-width: 250px;
    background-color: rgb(93, 213, 246);
    padding: 20px;
    border-radius: 20px;
}

.pokemon-details-name{
    font-size: x-large;
    margin-bottom: 10px;
}

.pokemon-height, .pokemon-weight, .pokemon-details-types{
    font-size: x-large;
}

.pokemon-details-types{
    display: flex;
    gap: 30px;
    padding: 20px;
    border: 1px solid gray;
    margin: 10px 0;
    border-radius: 10px;
}
