#pokedex-heading{
    margin: 0 auto;
    letter-spacing: 4px;
}

.outer-pokedex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:visited{
    color: black;
}

a{
    text-decoration: none;
}